{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# check if iterm2 config dir points to .config
prefdir=$(defaults read com.googlecode.iterm2 PrefsCustomFolder 2>/dev/null)
if [[ ${prefdir} != "~/.config/iterm2" ]]; then
    # set config directory
    defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.config/iterm2"
    defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true

    print "Set iTerm2 config dir: ~/.config/iterm2"
    exit 0
fi

{{- end }}
