{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "johanhaleby/kubetail"
    "jundot/omlx" -}}
{{ $brews := list
    "arping"
    "argocd"
    "bat"
    "bfg"
    "btop"
    "gemini"
    "gh"
    "git"
    "git-filter-repo"
    "git-lfs"
    "gnu-tar"
    "gnu-units"
    "gnupg"
    "go"
    "golangci-lint"
    "htop"
    "jhead"
    "jq"
    "jundot/omlx/omlx"
    "kubectl"
    "kubetail"
    "lazygit"
    "libpq"
    "lsd"
    "node"
    "opencode"
    "openjdk"
    "opentofu"
    "pdftk-java"
    "pinentry-mac"
    "poppler"
    "python"
    "rclone"
    "restic"
    "ruby"
    "socat"
    "sqlite"
    "starship"
    "terraform-inventory"
    "tmux"
    "uv"
    "virtualenv"
    "wakeonlan"
    "watch"
    "yamllint"
    "yarn" -}}
{{ $casks := list
    "alfred"
    "alt-tab"
    "android-platform-tools"
    "android-studio"
    "appcleaner"
    "db-browser-for-sqlite"
    "docker-desktop"
    "font-agave-nerd-font"
    "font-fira-code-nerd-font"
    "font-hack-nerd-font"
    "font-mononoki-nerd-font"
    "font-roboto-mono-nerd-font"
    "font-ubuntu-mono-nerd-font"
    "gcloud-cli"
    "intellij-idea"
    "latest"
    "lunar"
    "meld"
    "ollama-app"
    "open-webui"
    "postman"
    "rectangle"
    "slack"
    "spotify"
    "thaw"
    "visual-studio-code"
    "yubico-authenticator"
    "zoom" -}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
