{{ $name := promptString "Name used for git" -}}
{{ $email_personal := promptString "Personal E-Mail address used for git" -}}
{{ $email_spotify := promptString "Spotify E-Mail address used for git" -}}

[data]
    name = {{ $name | quote }}
    email.personal = {{ $email_personal | quote }}
    email.spotify = {{ $email_spotify | quote }}
