[includeIf "gitdir:~/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/src/spotify/"]
    path = .gitconfig-spotify
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[push]
	default = simple
[alias]
	st      = status
	diffc   = diff --cached
	ci      = commit
	br      = branch
	co      = checkout
	lg      = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	# Push the current branch to the remote "origin", and set it to track
	# the upstream branch
	publish = "!git push -u origin $(git branch-name)"
	# Delete the remote version of the current branch
	unpublish = "!git push origin :$(git branch-name)"
[svn]
	rmdir = true
{{ if eq .chezmoi.os "linux" }}
[diff]
	tool = meld
{{ end }}
[color]
	ui = auto
[color.status]
	untracked = cyan
	unmerged = yellow
	header = dim white
	changed = magenta
	tadded = green
