{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "homebrew/bundle"
    "homebrew/cask"
    "homebrew/cask-drivers"
    "homebrew/cask-fonts"
    "homebrew/core"
    "johanhaleby/kubetail"
    "asheshgoplani/tap/agent-deck" -}}
{{ $brews := list
    "agent-deck"
    "ansible"
    "arping"
    "argocd"
    "bat"
    "bazelisk"
    "bfg"
    "bitwarden-cli"
    "bruno"
    "btop"
    "chezmoi"
    "cmctl"
    "coredns"
    "curl"
    "dcraw"
    "dopplerhq/cli/doppler"
    "esptool"
    "esphome"
    "erlang"
    "exiftool"
    "ffmpeg"
    "fish"
    "gh"
    "git"
    "git-filter-repo"
    "git-lfs"
    "gnu-tar"
    "gnu-units"
    "gnupg"
    "go"
    "golangci-lint"
    "graphviz"
    "immich-cli"
    "immich-go"
    "htop"
    "jhead"
    "jq"
    "derailed/k9s/k9s"
    "kubectl"
    "kubernetes-cli"
    "kubetail"
    "lazygit"
    "libpg"
    "node"
    "octant"
    "openjdk"
    "opentofu"
    "pdftk-java"
    "pinentry-mac"
    "pipenv"
    "pipx"
    "poetry"
    "pyenv"
    "pyenv-virtualenv"
    "python"
    "rclone"
    "restic"
    "ruby"
    "socat"
    "sqlite"
    "starship"
    "syncthing"
    "terraform"
    "terraform-inventory"
    "tmux"
    "virtualenv"
    "wakeonlan"
    "watch"
    "wget"
    "xz"
    "yamllint"
    "yarn" -}}
{{ $casks := list
    "1password"
    "alfred"
    "alt-tab"
    "android-platform-tools"
    "android-studio"
    "appcleaner"
    "authy"
    "balenaetcher"
    "bartender"
    "beardedspice"
    "calibre"
    "chatbox"
    "coconutbattery"
    "db-browser-for-sqlite"
    "docker"
    "discord"
    "figma"
    "font-agave-nerd-font"
    "font-fira-code-nerd-font"
    "font-hack-nerd-font"
    "font-mononoki-nerd-font"
    "font-roboto-mono-nerd-font"
    "font-ubuntu-mono-nerd-font"
    "google-cloud-sdk"
    "handbrake"
    "inkscape"
    "insync"
    "intellij-idea"
    "iterm2"
    "keybase"
    "latest"
    "lunar"
    "makemkv"
    "minecraft"
    "mkvtoolnix"
    "moonlight"
    "mqttx"
    "nvidia-geforce-now"
    "nordvpn"
    "obs"
    "ollama"
    "plex"
    "postman"
    "raycast"
    "signal"
    "skype"
    "slack"
    "spotify"
    "setam"
    "sweet-home3d"
    "ticktick"
    "transmission"
    "visual-studio-code"
    "vlc"
    "whatsapp"
    "yubico-authenticator"
    "yubico-yubikey-manager"
    "zen"
    "zoom" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
