{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "homebrew/bundle"
    "homebrew/cask"
    "homebrew/cask-drivers"
    "homebrew/cask-fonts"
    "homebrew/core"
    "johanhaleby/kubetail" -}}
{{ $brews := list
    "argocd"
    "bat"
    "bitwarden-cli"
    "chezmoi"
    "curl"
    "dcraw"
    "esptool"
    "esphome"
    "erlang"
    "ffmpeg"
    "fish"
    "gh"
    "git"
    "git-lfs"
    "gnu-units"
    "gnupg"
    "go"
    "golangci-lint"
    "htop"
    "jhead"
    "jq"
    "kubectl"
    "kubernetes-cli"
    "kubetail"
    "lazygit"
    "node"
    "openjdk"
    "pdftk-java"
    "pinentry-mac"
    "pipenv"
    "pipx"
    "poetry"
    "python"
    "restic"
    "ruby"
    "socat"
    "sqlite"
    "starship"
    "syncthing"
    "terraform"
    "velero"
    "watch"
    "wget"
    "xz"
    "yamllint"
    "yarn" -}}
{{ $casks := list
    "alfred"
    "alt-tab"
    "android-platform-tools"
    "android-studio"
    "appcleaner"
    "authy"
    "balenaetcher"
    "beardedspice"
    "bitwarden"
    "font-agave-nerd-font"
    "font-fira-code-nerd-font"
    "font-hack-nerd-font"
    "font-mononoki-nerd-font"
    "font-roboto-mono-nerd-font"
    "font-ubuntu-mono-nerd-font"
    "google-cloud-sdk"
    "handbrake"
    "hiddenbar"
    "inkscape"
    "insync"
    "intellij-idea"
    "iterm2"
    "keybase"
    "latest"
    "lunar"
    "makemkv"
    "mkvtoolnix"
    "mqtt-explorer"
    "obs"
    "postman"
    "signal"
    "skype"
    "slack"
    "spotify"
    "sweet-home3d"
    "ticktick"
    "transmission"
    "visual-studio-code"
    "vlc"
    "whatsapp"
    "yubico-authenticator"
    "yubico-yubikey-manager"
    "zoom" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
